[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/macardenas/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/macardenas/orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/macardenas/products-ms.git
